%p#notice= notice

%p
  %b Nota:
  = @calificacion.nota
  %b Comentarios
  =@calificacion.comentarios

= link_to 'Edit', edit_alumno_calificacion_path(@alumno,@calificacion)
\|
= link_to 'Back', @alumno
