body {
  background-color: #ccd;
}


.container {
  width: 950px;
  background-color: #ddd
}

.container.pagina.users {
  width: 710px;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #dfd;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #cdf;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #0fc;
  text-decoration: none;
}

a:visited {
  color: #069;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
/* Sign up button */

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
footer {

  text-align: center;
  background-color: red;
  margin-top: 10px;
  width: 890px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}
/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #cdd;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
div.field, div.actions {
  margin-bottom: 10px;
}
div.sidebar{
  overflow: auto;
  width: 420px;
  height: 100px;
  background-color: #ededed;
  border: 10px;
  solid: 990000;
}
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

.label{
  margin-top: 2%;
  width: 22%;
  float: left;
}

fieldset{

  width: 45%;
  &.datos_profesor {
    float: left;
  }
  &.datos_alumno {
    float: left;
}
}
.letra_asignaturas{
  font-size: 15px;

}
.actions {
  clear: both;
}

//.resaltado {}

//#asignaturas{
  //.resaltado{
    //background-color: #aaa;
  //}
//}
h1 {
background-color: red;
}
#azul{
color: blue;
}
table tr {
color: green;
}
tr td{
color: black;
}
